@import "../../../assets/styles/_variables.scss";
.message {
	padding: 8px 16px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	width: max-content;
	min-width: 15%;
	max-width: 70%;
	margin: 5px 0px;
	clear: both;
	.text {
		font-size: 1rem;
	}

	.info {
		display: flex;
		column-gap: 8px;
		align-items: center;
		.time {
			font-size: 0.8rem;
			opacity: 80%;
		}

		.status svg {
			font-size: 1rem;
			opacity: 80%;
		}
	}
}

.myMessage {
	background-color: $PRIMARY_COLOR;
	color: $BACKGROUND_COLOR;
	float: right;
	.info {
		justify-content: right;
	}
}

.theirMessage {
	background-color: $HOVER_COLOR;
	color: $TEXT_COLOR;
	float: left;
}

.Popover {
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	.Button {
		background-color: $BACKGROUND_COLOR;
		height: 50px;
		width: 100%;
		border: none;
		display: flex;
		align-items: center;
		justify-content: left;
		&:hover {
			cursor: pointer;
			background-color: $HOVER_COLOR;
		}
		svg {
			font-size: 1.5em;
			margin: 0 5px;
		}
	}
}
