@import "../../assets/styles/_variables.scss";
.newMessage {
	position: absolute;
	right: 25px;
	bottom: 25px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: $SECONDARY_COLOR;
	box-shadow: 0 0 10px -5px $TEXT_COLOR;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	svg {
		fill: $BACKGROUND_COLOR;
		position: relative;
	}
}
